@media screen and (min-width: 992px) {
    #principal {
        display: flex;
        height: 50vh;
        width: 20vw;
        background-color: white;
        border-radius: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      #qr {
        height: 30vh;
        width: 18vw;
        background-image: url(images/image-qr-code.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5%;
       }
    
       #texto1 {
        font-size: 16px;
        margin: 0px 5px;
        color: hsl(218, 44%, 22%);
        font-weight: bold;
        }
    
        #texto2 {
        margin: 0px 5px;
        padding: 10px;
        font-size: 13px;
        color: hsl(212, 7%, 58%);
        font-weight: 400;
        }
}